button {
  cursor: pointer;
  width: 6rem !important;
  padding: .47rem 0;
  border-radius: 25px !important;
  background-color: #010c3f;
  text-align: center;
  font-size: .733rem;
  transition: background-color .25s;
  color:white;
  margin-top:.3rem;
}
 button:hover {
  background-color: rgba(108, 65, 233, .7);
}
