.App {
  text-align: center;
  background-color: skyblue;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 100px;
}
.App-logo2 {
display: inline;
margin-left: 2%;
margin-top: 5px
}
.App-header {
  background-color: white;
  color: grey;
  align-items: left;
  font-size: 12px;
  text-align: left
}


.App-link {
  color: #61dafb;
}

.App-center {
  background: purple;
  width: 20%;
  min-width: 250px;
  margin:auto;
  border-radius: 10px;
  padding:5px
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.results {
  color:white;
  background: green;
  border-radius:5px;
  width: 85%;
  margin:auto;
  margin-bottom:5px;
}

.fare{
  background:purple;
  color:white;
  border-radius:5px;
  width:50%;
  margin:auto;
  margin-top: 13px;
}
.des {
  border: 1px solid purple;
  width: auto;
}

.radiobutton {
  color:white;
  font-size: 10px;
  text-align: left;
  display: inline;
  position: static;
  }

.fieldset {
  color:white;
  font-size: 10px;
  text-align: left;
  display: inline;

}

.combine {
  border: 2px solid purple;
  border-radius: 5px;
  margin:10px
}
div.combine:hover{
  background-color:skyblue
}

.loading {
  background-color: orange;
  position: fixed;
  left: 50%;
  top: 50%;
  opacity: 0.8;
  border-radius: 5px;
  transform: translate(-50%, -50%);
}

.navback {
  background-color: skyblue;
  margin-top: auto;
  margin-bottom: auto;
}
  .headerholder {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .text-align {
    text-align: right;
  }

  .borderradius {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }
