.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 100px;
}

.App-header {
  background-color: #282c34;
  height: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-center {
  background: purple;
  width:50%;
  margin:auto;
  border-radius: 10px;
  padding:10px
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.results {
  color:white;
  background: green;
  border-radius:5px;
  width: 85%;
  margin:auto;
  margin-bottom:5px;
}

.fare{
  background:purple;
  color:white;
  border-radius:5px;
  width:50%;
  margin:auto;
  margin-top: 5px;
}
.des {
  border: 1px solid purple;
  width: auto;
}
